<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "/plumbing_app/app/assets/stylesheets/basic.css" %>
<head>
  <title>PlumbingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to ShitStickers</h1>
<a href='/'>Home</a>
<a href='/services'>Products</a>
<a href='/emergency_repair'>Emergencies</a>
<form action='/search' method='get'>
  <input type='text' name='option'>
  <button>Go!</button>
</form>
<br><br>
<%= yield %>

</body>
</html>
